
header {
  display: flex;
  align-items: center;
  background-color: #697742;
  justify-content: space-around;
  border-radius: 5px;

}

.titulo h1 {

 padding-right: 40px;
 text-align: center;
  
}
img {

 border-radius: 50%;
 width: 150px;
 height: 150px;
 
}

.menu {
 background-color: #AAC870;
 height: 45px;
 display: flex;
 align-items: center;
 margin-top: 25px;
 justify-content: end;
 border-radius: 5px;
 

}

.menu ul {

 display: flex;
 padding-right: 140px;
 text-decoration: none;

}
.menu li {

 margin: 0 0 0 35px;
 list-style-type: none;
 
}

.menu a {

 
  color:black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.infos {

 background-color: #D9D9D9;
 height: 212px;
 border-radius: 5px;

}
.infos h1 {
 padding: 10px;
 font-family: 'Roboto', sans-serif;
 font-weight:bold
}
.infos p {
 padding: 10px;
 font-size: 20px;
}

footer {
 background-color: #AAC870;
 margin: 10px;
 text-align: center;
 height: 24px;
 border-radius: 5px;
 margin: 0;
 
 
}

footer p {

  font-size:  20px;
}



@media only screen and (max-width: 500px) {

 
 form {
   width: 80%;
 }

}

@media only screen and (max-width: 600px) {

 



 .menu li {
  margin: 0 -8px 0 35px;

  

}
 .menu ul {

  padding-right: 45px;
     margin: 5px;

 }
 .menu a {

  font-size: 18px;
 }
 .titulo h1 {
  padding-right: 0px;
  text-align: center;
 }



}
@media only screen and (max-width: 750px) {
 .enviar {
  width: 60%;
     padding: 25px 0px;
 }
}

